In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,San Patricio,US,2022-05-17 14:23:28,28.0170,-97.5169,82.85,71,11,12.77
1,1,Kungurtug,RU,2022-05-17 14:23:28,50.5994,97.5228,52.56,74,99,2.42
2,2,Punta Arenas,CL,2022-05-17 14:18:50,-53.1500,-70.9167,44.71,87,100,12.66
3,3,Tasiilaq,GL,2022-05-17 14:23:29,65.6145,-37.6368,37.56,98,100,3.60
4,4,Saint-Philippe,RE,2022-05-17 14:23:29,-21.3585,55.7679,72.99,79,82,14.76

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,San Patricio,US,2022-05-17 14:23:28,28.0170,-97.5169,82.85,71,11,12.77
9,9,Rikitea,PF,2022-05-17 14:23:32,-23.1203,-134.9692,76.33,79,15,21.39
14,14,Karaton,ID,2022-05-17 14:23:34,-6.3424,106.1045,76.82,91,80,1.12
22,22,Mawlaik,MM,2022-05-17 14:23:38,23.6333,94.4167,78.91,89,63,1.12
25,25,Atuona,PF,2022-05-17 14:23:40,-9.8000,-139.0333,78.40,70,63,16.75
31,31,Inirida,CO,2022-05-17 14:23:44,3.8653,-67.9239,81.36,82,98,2.64
34,34,Bubaque,GW,2022-05-17 14:23:46,11.2833,-15.8333,80.10,81,57,6.96
35,35,Bengkulu,ID,2022-05-17 14:23:46,-3.8004,102.2655,79.36,86,95,6.20
36,36,Lae,PG,2022-05-17 14:23:47,-6.7221,146.9847,78.03,84,76,1.92
37,37,Ussel,FR,2022-05-17 14:23:47,45.5500,2.3167,82.20,28,21,5.61

In [21]:
preferred_cities_df.count()

City_ID       195
City          195
Country       194
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0   San Patricio      US     82.85  28.0170  -97.5169
9        Rikitea      PF     76.33 -23.1203 -134.9692
14       Karaton      ID     76.82  -6.3424  106.1045
22       Mawlaik      MM     78.91  23.6333   94.4167
25        Atuona      PF     78.40  -9.8000 -139.0333
31       Inirida      CO     81.36   3.8653  -67.9239
34       Bubaque      GW     80.10  11.2833  -15.8333
35      Bengkulu      ID     79.36  -3.8004  102.2655
36           Lae      PG     78.03  -6.7221  146.9847
37         Ussel      FR     82.20  45.5500    2.3167

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,San Patricio,US,82.85,28.0170,-97.5169,"Motel 6 Sinton, TX"
9,Rikitea,PF,76.33,-23.1203,-134.9692,People ThankYou
14,Karaton,ID,76.82,-6.3424,106.1045,Parkir Mobil Wisata CAS Water Park
22,Mawlaik,MM,78.91,23.6333,94.4167,AKZ Guest House
25,Atuona,PF,78.40,-9.8000,-139.0333,Villa Enata
31,Inirida,CO,81.36,3.8653,-67.9239,Fuente del Guania Hotel de Lujo
34,Bubaque,GW,80.10,11.2833,-15.8333,"Casa Dora, Bubaque"
35,Bengkulu,ID,79.36,-3.8004,102.2655,Grage Hotel Bengkulu
36,Lae,PG,78.03,-6.7221,146.9847,Phils Hotel
37,Ussel,FR,82.20,45.5500,2.3167,Logis Hôtel les Gravades

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))